cmus/.cmus/cache
cmus/.cmus/command-history
cmus/.cmus/lib.pl
cmus/.cmus/search-history
cmus/.cmus/playlists
cmus/.cmus/autosave
cmus/.cmus/wmt.txt
irssi/.irssi/away.log
irssi/.irssi/config.autosave
mpd/.config/mpd/mpd.log
mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/state
mpd/.mpd/pid
mutt/.mutt/cache/
mutt/.mutt/sent
newsboat/.newsboat/cache.db
newsboat/.newsboat/cache.db.lock
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search
newsboat/.newsboat/queue
ncmpcpp/.ncmpcpp/error.log
tmux/.tmux/plugins/
vim/.vim/bundle/
vim/.vim/.netrwhist
vim/.vim/undo/
bin/bin/daily_backup
bin/bin/doctl
bin/bin/drist
bin/bin/drist1
bin/bin/drist2
bin/bin/kubectl
bin/bin/packerio
bin/bin/qmake
bin/bin/securebak
bin/bin/timer
bin/bin/toot
bin/bin/wormhole
bin/bin/xonotic
