cmus/.cmus/cache
cmus/.cmus/command-history
cmus/.cmus/lib.pl
cmus/.cmus/search-history
cmus/.cmus/playlists
cmus/.cmus/autosave
mpd/.config/mpd/mpd.log
mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/state
mpd/.mpd/pid
mutt/.mutt/cache/
ncmpcpp/.ncmpcpp/error.log
vim/.vim/bundle/
