cmus/.cmus/cache
cmus/.cmus/command-history
cmus/.cmus/lib.pl
cmus/.cmus/search-history
cmus/.cmus/playlists
cmus/.cmus/autosave
mpd/.config/mpd/mpd.log
mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/state
mpd/.mpd/pid
mutt/.mutt/cache/
mutt/.mutt/sent
newsboat/.newsboat/cache.db
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search
newsboat/.newsboat/urls
ncmpcpp/.ncmpcpp/error.log
vim/.vim/bundle/
